{% extends 'base.html.twig' %}

{% block title %}new sant{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    
    <div class="container mt-4">
        <h1>Edit Sant</h1>
        {{form_start(form)}}
        {{form_widget(form)}} 
            <input type="submit" value ="Edit" class="btn btn-large btn-primary btn-block mt-2" formnovalidate>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
