@import "~bootstrap/scss/bootstrap";
body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-check{
    margin-top: 5mm;
}


.col-4 {
    .card {
        transition: transform 0.2s ease;
        box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
        border-radius: 0;
        border: 0;
        margin-bottom: 1.5em;
        
      &:hover {
        transform: scale(1.1);
      }
  
    }
  }

  .card {
    .card-img-top{
        transition: transform 0.2s ease;
        box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
        border-radius: 0;
        border: 0;
        margin-bottom: 1.5em;
        
      &:hover {
        transform: scale(1.2);
      }
  
    }
  }